{% extends "web_blogs/base.html" %}


{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}


{% block content %}

    <p>Topics</p>

    <ul>
        {% for topic in topics %}
            <li> 
                <a href="{% url 'web_blogs:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'web_blogs:new_topic' %}">Add a new Topic</a>

{% endblock content %}